@model Store.Models.Account.LoginViewModel
@{
    ViewBag.Title = "LOGIN";
}


<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">@Resources.Resource.AccountLoginWelcome</h1>
                                </div>
                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Resources.Resource.AccountLoginPlaceholderUsername, @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { placeholder = Resources.Resource.AccountLoginPlaceholderPassword, @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        @Resources.Resource.AccountLoginButtonLogin
                                    </button>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> @Resources.Resource.AccountLoginButtonLoginWithGoogle
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> @Resources.Resource.AccountLoginButtonLoginWithFacebook
                                    </a>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

